html,
body {
  height: 100%;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

#menu {
  width: 20vw;
  height: 100%;
}

.menu-page {
  width: 20vw;
  height: calc(100% - 30px);
}

.menu-device {
  width: 20vw;
  height: 30px;
}

#view {
  position: relative;
  width: 80vw;
  height: 100%;
}
